/********************************BASIC********************************/
html{
  box-sizing:border-box
}
*,*::before,*::after{
  box-sizing:inherit
}
.banner h1{
  text-shadow:0 1px 3px rgba(0,0,0,.3);
  font-weight:700!important;
  text-align:center;
  font-size:3.5rem;
  padding-bottom:.5rem
}

h1{
  font-size:2em;
  margin:.67em 0
}

h1,h2,h3,h4{
  margin-top:0;
  margin-bottom:.5rem
}
p{
  margin-top:0;
  margin-bottom:1rem
}

h1,h2,h3,h4{
  margin-bottom:.5rem;
  font-family:inherit;
  font-weight:500;
  line-height:1.1;
  color:inherit
}
h1{
  font-size:2.5rem
}
h2{
  font-size:2rem
}
h3{
  font-size:1.75rem
}
h4{
  font-size:1.5rem
}

body {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 0px;
}

#body--container {
  margin-top: 20px;
  float: left;
  width: 100%;
  margin-bottom: 3em;
}

/********************************MENU********************************/
boton {
    margin-left: 30px;
    display: block;
    width: 40px;
    height: 36px;
    padding: 10px;
    border-radius: 7px;
    background:cyan;
    color: cyan;
    cursor: pointer;
    position: relative;
}

.boton span {
    display: block;
    width: 40px;
    height: 4px;
    background: black;
    margin-top:7px;
}

label {
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#menu {
    display: none;
    padding:10px 0;
    list-style-type:none;
    background: rgb(202, 201, 201);
    border-radius: 20px;
}

.menu--option {
    text-align: center;
    color: black;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    clear: both;
    border-radius: 58px;
}

.menu--option:hover {
   color:white;
   background: #000;
}

.menu--desplegable {
    width: 85%;
    float: left;
}

#menu-toggle:checked + #menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    z-index: 1;
}

/********************************HOME********************************/
.container--textos {
    margin: auto;
    max-width: 85%;
}

.caja {
    width: 50%;
    float:left;
}

#titulo {
    text-align: center;
}

#subtitulo {
    text-align: center;
}

#ofertas {
    text-align: center;
}

.tarifa--container {
    background: #c2c2c2;;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    border: 0!important;
    margin-right: 30px;
    margin-bottom: 80px;
    float: none;
    text-align: center;
    display: inline-table;
    width: 20%;
}

.tarifa--header {
    padding-top: 15px;
    padding-bottom: 15px;
    background: gray;
    color: white;
}

.tarifa--header h1 {
    font-size: 18px!important;
}

.tarifa--precio {
    padding-top: 1px;
    padding-bottom: 1px;
    background: Blue;
    color: white;
}

.tarifa--footer {
    background: #d2d2d2;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}

/********************************TARIFAS********************************/
#tarifas--body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin-left: 50px;
}

.tarifa--tarifa {
  background: #c2c2c2;;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  border: 0!important;
  margin-right: 30px;
  margin-bottom: 80px;
  float: none;
  text-align: center;
  display: inline-table;
}

/********************************COOKIES********************************/
.cookies {
    width: 80%;
    margin: auto;
}

/********************************AVISO LEGAL********************************/
.avisolegal {
    width: 80%;
    margin: auto;
}

/*********************************CATALEG********************************/
.articulos {
  display: flex;
  justify-content: space-around;
}
.articulo {
  width: 20%;
  text-align: center;
}

/********************************FOOTER********************************/
footer{
  display:block;
  background:#f3f3f3;
  bottom:0;
  width:100%;
  clear: both;
  vertical-align:middle
}

.btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
}
.container{
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  max-width:1140px;

}

.row{
  display:flex;
  flex-wrap:wrap;
  margin-left:-15px;
  margin-right:-15px
}

.col{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  flex:0 0 33.33333%;
  max-width:33.33333%
}

#footer-sec {
  padding: 30px;
}

#footer-sec2 {
  height: 50px;
  background: #636363;
}

.footer-sec2-links {
  color: black;
  float: left;
  padding: 16px;
}

.footer-sec2-links:hover {
  color: white;
}

/********************************SLIDER********************************/

.jumbotron {
    margin: 1em auto;
    position: relative;
  }
  
  input {
    display: none;
  }
  
  .inner {
    width: 500%;
    line-height: 0;
  }
  
  article {
    width: 20%;
    float: left;
    position: relative;
  }
  article img {
    width: 100%;
  }
  
  /*---- SET UP CONTROL ----*/
  .slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
  }
  .slider-prev-next-control label:hover {
    opacity: 1;
  }
  
  .slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .slider-dot-control label:hover {
    background: #ccc;
    border-color: #777;
  }
  
  /* Info Box */
  .info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    -webkit-transition: all 1000ms ease-out 600ms;
    -moz-transition: all 1000ms ease-out 600ms;
    transition: all 1000ms ease-out 600ms;
  }
  .info h3 {
    color: #fcfff4;
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 1.5em;
    font-style: normal;
  }
  .info.top-left {
    top: 30px;
    left: 30px;
  }
  .info.top-right {
    top: 30px;
    right: 30px;
  }
  .info.bottom-left {
    bottom: 30px;
    left: 30px;
  }
  .info.bottom-right {
    bottom: 30px;
    right: 30px;
  }
  
  /* Slider Styling */
  .slider-jumbotron {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .slider-jumbotron .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  /*---- SET POSITION FOR SLIDE ----*/
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
  }
  
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
    content: "\f105";
    padding-left: 15px;
  }
  
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px;
  }
  
  #slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
    display: block;
    float: left;
    margin-left: 5px;
  }
  
  #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    content: "\f104";
    padding-left: 8px;
  }
  
  #slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5) {
    background: #333;
  }
  
  #slide1:checked ~ .slider-jumbotron article:nth-child(1) .info, #slide2:checked ~ .slider-jumbotron article:nth-child(2) .info, #slide3:checked ~ .slider-jumbotron article:nth-child(3) .info, #slide4:checked ~ .slider-jumbotron article:nth-child(4) .info, #slide5:checked ~ .slider-jumbotron article:nth-child(5) .info {
    opacity: 1;
  }
  
  #slide1:checked ~ .slider-jumbotron .inner {
    margin-left: 0%;
  }
  
  #slide2:checked ~ .slider-jumbotron .inner {
    margin-left: -100%;
  }
  
  #slide3:checked ~ .slider-jumbotron .inner {
    margin-left: -200%;
  }
  
  #slide4:checked ~ .slider-jumbotron .inner {
    margin-left: -300%;
  }
  
  #slide5:checked ~ .slider-jumbotron .inner {
    margin-left: -400%;
  }
  
  /*---- TABLET ----*/
  @media only screen and (max-width: 850px) and (min-width: 450px) {
    .slider-jumbotron {
      border-radius: 0;
    }
  }
  /*---- MOBILE----*/
  @media only screen and (max-width: 450px) {
    .slider-jumbotron {
      border-radius: 0;
    }
  
    .slider-jumbotron .info {
      opacity: 0;
    }
  }